<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-padrao}">
<head>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container" style="margin-top:100px;">
        	<h2>Formulário de Cadastro - Produto</h2>
        	
        	<div class="row">
				<form th:action="@{/produto}" method="post"
					  th:object="${produto}">
					<div class="row">
						<div class="form-group">
							<label for="id">Código</label>
							<input type="text" class="form-control"
								   th:field="*{id}" readonly/>
						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<label for="nome">Nome</label>
							<input type="text" class="form-control"
								   th:field="*{nome}"/>
							<span th:if="${#fields.hasErrors('nome')}"
								  th:errors="*{nome}"
								  class="text-danger"
							></span>
						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<label for="descricao">Descrição</label>
							<textarea rows="5" cols="30"
									  class="form-control"
									  th:field="*{descricao}">
	        				</textarea>

							<span th:if="${#fields.hasErrors('descricao')}"
								  th:errors="*{descricao}"
								  class="text-danger"
							></span>
						</div>
					</div> <!-- FIM DESCRICAO -->
					<div class="row">
						<div class="form-group">
							<label for="valor">Valor</label>
							<input type="text" class="form-control" th:field="*{valor}" />
							<span th:if=" ${#fields.hasErrors('valor')}" th:errors="*{valor}" class="text-danger"></span>
						</div>
					</div> <!-- FIM VALOR -->
					<div class="row">
						<div class="form-group">
							<label for="categoria">Categoria</label>
							<select class="form-control"
									th:field="*{categoria}">
								<option value=""> (selecione)</option>
								<option th:each="categoria: ${categorias}"
										th:value="${categoria.id}"
										th:text="${categoria.nome}"></option>
							</select>
							<span th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}" class="text-danger"></span>
						</div>
					</div> <!-- FIM CATEGORIA -->
					<div class="row">
						<div class="form-group">
							<label for="marca">Marca</label>
							<select class="form-control"
									th:field="*{marca}">
								<option value=""> (selecione)</option>
								<option th:each="marca: ${marcas}"
										th:value="${marca.id}"
										th:text="${marca.nome}"></option>
							</select>
							<span th:if="${#fields.hasErrors('marca')}"
								  th:errors="*{marca}"
								  class="text-danger"
							></span>
						</div>
					</div> <!-- FIM MARCA -->
					<div class="row">
						<button class="btn btn-primary" type="submit">Salvar
						</button>
					</div>
				</form>
        	</div> <!-- FIM div row -->
        </div>
    </section>
    </body>
</html>








